api.klubnikaproject.ru {
	handle /api/ai/* {
		uri strip_prefix /api/ai
		reverse_proxy 127.0.0.1:8090
	}

	handle /site/* {
		uri strip_prefix /site
		reverse_proxy 127.0.0.1:8010
	}

	handle {
		reverse_proxy 127.0.0.1:8000
	}
}
