[Unit]
Description=KlubnikaProject Backend API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ilapatiev
Group=ilapatiev
WorkingDirectory=/opt/klubnikaproject-backend/app
EnvironmentFile=/opt/klubnikaproject-backend/shared/config/.env
ExecStart=/opt/klubnikaproject-backend/app/.venv/bin/uvicorn app.main:app --host ${KP_APP_HOST} --port ${KP_APP_PORT}
Restart=always
RestartSec=5
UMask=0077
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
